.body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.hide {
    display: none !important;
}

.footer-btn {
    background-color: #fff;
    border: 1px solid #777777;
    color: #333
}

.footer-btn-selected {
    background-color: #024890;
    border: 1px solid #777777;
    color: #fff
}

#tab1,
#tab2,
#tab3,
#tab4,
#tab5 {
    resize: both;
    overflow: auto;
}

.close-btn {
    background: transparent;
    border: none;
    color: #024890;
}

.modal-content {
    overflow: scroll;
}

.modal-header {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 1;
    background-color: #f8f9fa;

    border-bottom: 1px solid #dee2e6;
}


.modal-title {
    margin: 0;
}

.modal-header div {
    display: flex;
    align-items: center;
}

.close-btn {
    margin-left: auto;
}

.chat1>div {
    margin-bottom: 5px;

}

.chat2>div {
    margin-bottom: 5px;
}

.chat2 div:first-child {
    display: flex;
    margin-left: 10%;
    justify-content: space-between;
    align-items: flex-end;
}

.chat3>div {
    margin-bottom: 5px;

}

.chat4>div {
    margin-bottom: 5px;

}

.chatBox1 {
    border-radius: 4px;
    background-color: #f1f1f1;
    color: #333;
    padding: 10px 10px;
    font-size: 14px;
    margin-right: 10%;

}

.chatBox2 {
    border-radius: 4px;
    background-color: #024890;
    color: #fff;
    padding: 10px 10px;
    font-size: 14px;
    margin-left: 10%;
}

.chatBox3 {
    border-radius: 4px;
    background-color: #FFEBAD;
    color: #333;
    padding: 10px 10px;
    font-size: 14px;
    margin-right: 10%;

}

.chatBox4 {
    border-radius: 4px;
    background-color: #99d9ff;
    color: #333;
    padding: 10px 10px;
    font-size: 14px;
    margin-right: 10%;

}